@import 'tailwindcss';

header {
  display: flex;
  width: 100%;
  @apply text-2xl;
  @apply border-b border-zinc-600;
  @apply mb-4 p-4;
}

header .logo {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}

.search-tab {
  border-radius: 5px 0 0 5px;
  @apply outline-none w-7/12 bg-black text-gray-50;
}

.search-button {
  border-radius: 0 5px 5px 0;
  @apply bg-zinc-500 px-4;
}

.search-button:hover {
  cursor: pointer;
  @apply bg-zinc-600;
}
