@import 'tailwindcss';

.navbar-top {
  /* display: none; */
  height: 50px;
  visibility: hidden;
}

/* .navbar-top.mobile {
  visibility: visible;
  @apply flex justify-between items-center;
  position: sticky !important;
  height: 50px;
  outline: 2px solid red;
  z-index: 1000;
} */

.navbar-top.mobile {
  visibility: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky !important;
  top: 0;
  z-index: 1000;
}

.navbar-top.mobile.scroll {
  background-color: rgba(184, 207, 206, 0.7);
  backdrop-filter: blur(7px);
}

.gnb-right {
  width: 3rem;
}

.fc-button {
  width: 3rem;
  height: 3rem;
  transition: transform 0.3s;
}

.fc-button.hide {
  transform: rotate(90deg) scaleX(0);
}

.fc-button.show {
  transform: rotate(180deg);
}

.fc-button:active {
  color: rgb(50, 50, 250);
}
