@import 'tailwindcss';
.navbar-side {
  text-decoration: none;
  position: fixed;
  width: 280px;
  height: 100vh;
  overflow-y: auto;
}

.navbar-side.mobile {
  width: 0;
}

.navbar-side.show-scrollbar {
  scrollbar-color: #666 transparent;
}

.navbar__header {
  height: 280px;
  @apply flex justify-center items-center;
  @apply border-b-2 border-zinc-600;
}

.navbar__header__title__inner {
  font-weight: bold;
}

.navbar-side.mobile .sub-navigation {
  opacity: 0;
  transition: opacity 0.5s;
  overflow-y: auto;
}

.navbar-side.show .sub-navigation {
  opacity: 1;
}

.navbar-side.mobile .sub-navigation.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: #292929;
  background: linear-gradient(
    90deg,
    rgba(41, 41, 41, 1) 0%,
    rgba(77, 77, 77, 0.49) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.navbar-side.mobile .side-bar {
  transform: translateY(1rem);
  transition: transform 0.2s;
  padding-top: 3rem;
  width: 280px;
  @apply flex flex-col;
}

.navbar-side.show .side-bar {
  transform: translateY(3rem);
}

.category {
  padding: 10px 10px;
  font-size: 1.1rem;
  line-height: 2rem;
  @apply border-b-2 border-zinc-600;
}

.category li {
  padding: 0 10px;
  cursor: pointer;
  @apply hover:text-blue-300;
}

.sub-navigation.fixed .category {
  border-bottom-color: transparent;
}

.sub-navigation.fixed .category li {
  color: rgb(221, 221, 221);
  background: #3f3d3d;
  background: linear-gradient(
    90deg,
    rgba(63, 61, 61, 1) 0%,
    rgba(74, 66, 62, 1) 100%
  );
  border-bottom-color: #5c5c5c;
  border-bottom-width: 1px;
}

.sub-navigation.fixed .category ul {
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.6);
}

.external-link {
  padding: 10px 0;
  font-size: 2rem;
  @apply flex justify-center gap-5;
}

.external-link__icon {
  cursor: pointer;
}

#close-subNavigation {
  display: none;
  font-size: 1.3rem;
  position: absolute;
  top: 0px;
}

.sub-navigation.fixed #close-subNavigation {
  display: block;
}

#transparent-button {
  display: none;
  color: rgba(0, 0, 0, 0);
  position: absolute;
  height: 100%;
  left: 280px;
  right: 0;
}

.sub-navigation.fixed #transparent-button {
  display: block;
}

.category #count {
  color: rgb(143, 138, 138);
}
