@import 'tailwindcss';

.video-card {
  display: block;
  margin-bottom: 1rem;
}

.video-info {
  padding-right: 1.5rem;
}

.video-info p {
  font-size: 0.75rem;
  @apply text-zinc-400;
  @apply line-clamp-2;
}

.video-thumbnail img,
.video-thumbnail iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

#video-title {
  font-size: 0.875rem;
  @apply text-zinc-100;
}
