@import 'tailwindcss';
.column {
  display: flex;
}

main {
  display: inline-block;
  min-width: 41.5rem;
  width: 41.5rem;
  max-width: 61.875rem;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  margin-left: 1.5rem;
}

.video-frame {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.video-frame iframe {
  aspect-ratio: 16 / 9;
  width: min(40rem, 100%);
  border-radius: 1rem;
}

.channel-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.channel-info img {
  border-radius: 50%;
  width: 2rem;
}

aside {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
}

aside .video-card {
  display: flex;
  margin-top: 0.5rem;
}

aside .video-card .video-thumbnail {
  min-width: 10.5rem;
  width: 10.5rem;
  margin-right: 0.5rem;
  height: 5.875rem;
}

aside .video-card .video-thumbnail img {
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
}

aside .video-card .video-info {
  flex: 1 1 14.125rem;
  max-width: 14.125rem;
}

@media screen and (max-width: 1014px) {
  .column {
    flex-direction: column;
  }
}
